.community-container {
  padding: 40px;
  max-width: 800px;
  margin: auto;
  font-family: 'Noto Sans KR', sans-serif;
  background-color:#ffffff;
  border-radius: 20px;
}
.community-wrapper{
  padding-top: 20px;
  padding-bottom: 60px;
}

.board-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: left;
}


.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: 2px solid #f97316;
  border-radius: 30px;
  outline: none;
  padding-left: 20px;
}

.search-button,
.write-button {
  background-color: #f97316;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.sort-options {
  display: flex;
  gap: 20px;
  margin: 10px 0 20px;
  font-size: 14px;
}

.sort-options input[type="radio"] {
  margin-right: 5px;
  accent-color: #f97316;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
  font-size: 14px;
  border-top: 1px solid #f97316;
  border-bottom: 1px solid #f97316;
  margin-top: 20px;
}

.post-header-left {
  flex: 1;
  text-align: left;
}

.post-header-right {
  display: flex;
  gap: 50px;
  min-width: 200px;
  justify-content: flex-end;
  color: #222;
}



.post-list {
  border-top: 1px solid #ccc;
}

.post-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
}

.post-left {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: calc(70% - 120px);  /*공간제한*/
}



.post-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.post-content {
  font-size: 14px;
  color: #555;

  white-space: nowrap;        /* 줄바꿈 안 함 */
  overflow: hidden;           /* 넘치는 내용 숨김 */
  text-overflow: ellipsis;    /* ...으로 생략 */
}

.post-footer {
  font-size: 12px;
  color: #777;
}

.post-right {
  display: flex;
  flex-direction: row;         /* ← 가로 정렬로 바꾼 핵심 */
  align-items: center;         /* 세로 가운데 정렬 */
  gap: 30px;                   /* 요소 간 간격 */
  min-width: 120px;
  justify-content: flex-end;   /* 오른쪽 정렬 */
}

.post-meta {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}


.thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.meta-date,
.meta-views {
  font-size: 12px;
  color: #777;
  width: 80px;
  text-align: right;
}

.pagination {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.pagination span {
  margin: 0 5px;
  cursor: pointer;
}

.pagination .active {
  font-weight: bold;
  text-decoration: underline;
}